{% extends 'basic.html' %}

{% block title %} Application Form {% endblock %}
{% block application_form %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}

{% if hide.exists %}
<div class="container mt-4">
    <div class="row">
        <h1 style="text-align: center;">Personal Details</h1>
            <hr>
        <div class="col-md-4">
            <div class="profile-img">
                {% if user.application.student_profile.url %}
                <img src="{{user.application.student_profile.url}}" alt="" width="310px" height="270px">
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Course :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.course}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Full Name :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email Address :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.email}}</p>
                        </div>
                    </div>
                    {% if user.application.phone_no %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone Number :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.phone_no}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.address}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nationality :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.nationality}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>
<hr>
<div class="container mt-4">
    <div class="row">
        <h1 style="text-align: center;">Educational Background</h1>
            <hr>
        <div class="col-md-4">
            <div class="profile-img">
                <h3>High school</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>A Level  :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.a_level_result}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>O Level :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.o_level_result}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</div>
<hr>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <h3>Primary school</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>PLE result slip :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.ple_result}}</p>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
</div>
<hr>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <h3>Kindergaten</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nursery :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.kindergaten}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</div>
<hr>
<h4>Update application Details</h4><a href="/edit_application/" class="btn btn-secondary" style="width: 20rem;"> Update Application</a>
<br><br>
{% else %}
<div class="container mt-4">
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
    {{form.as_p}}
    <center><button type="submit" class="btn btn-primary">Submit</button></center>
    </form>
</div>
{% endif %}


<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Global Junior School</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Application</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
    </footer>
  </div>
  


{% endblock %}