{% extends 'admin.html' %}

{% block title %} {{application.name}} {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        <h1 style="text-align: center;">Personal Details</h1>
            <hr>
        <div class="col-md-4">
            <div class="profile-img">
                {% if user.application.student_profile.url %}
                <img src="{{application.student_profile.url}}" alt="" width="310px" height="270px">
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Course :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.course}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Full Name :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email Adress :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.email}}</p>
                        </div>
                    </div>
                    {% if user.application.phone_no %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone Number :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.phone_no}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.address}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Nationality :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.nationality}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>
<hr>

<div class="container mt-4">
    <div class="row">
        <h1 style="text-align: center;">Educational Background</h1>
            <hr>
        <div class="col-md-4">
            <div class="profile-img">
                <h3>High school</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>A Level  :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.a_level_result}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>O Level :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.o_level_result}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</div>
<hr>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <h3>Primary school</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>PLE result slip :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.ple_result}}</p>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
</div>
<hr>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <h3>Kindergaten</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nursery :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.application.kindergaten}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</div>

<hr>
<h4>Click here to edit the status</h4><a href="/application_status/{{application.id}}/" class="btn btn-secondary" style="width: 20rem;">Edit Status</a>
{% endblock %}